@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Cormorant:wght@700&display=swap');
body {
    font-size: 14pt;
    font-family: Arial, sans-serif;
}

p {
    color: rgb(80, 79, 79);
}

#WelcomeText{
    font-family: 'Courier New';
    font-size: 36pt;
    position: absolute;   
    top: 30%;
    left: 25%;

}
header {
    height: 300px;
    overflow: hidden;
    padding-bottom: 50px;
    position:relative;
}
main, header, footer, nav ul {
    max-width: 100vw;
    margin: 0 auto 0 auto;
}
#header-image {
    width: 100%;
    height: auto;
    opacity: 0.7;

}
main {
    background-color: lightblue;
}


/*nav ul li {
    display: inline-block;
    background-color: grey;
    padding: 1em;
    margin: 1em;
}*/




nav ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, 9.25em);
    gap: 1em;
    padding: 0;
}

nav li {
    display: block;
    background-color: grey;
    padding: 1em;
}

.Very-good {
    color: green;
}

.Master {
    color: green;
    font-weight: bold;
}
button:hover{
    background-color:rgb(74, 74, 203);
    cursor:pointer;
}
.allergens {
   color: #ff5500;
}
#lactose{
    text-transform: uppercase;
}
#burgerselection{
    background-color: black;
    color:white;
}
section{
    
    padding: 5px;
    margin: 10px;
    border:dashed 2px;
}
button{
    margin-bottom: 10px;
}
div{
    padding: 5px;
    margin: 10px;
}
.wrapper {
     display: grid;
     grid-gap: 10px;
     grid-template-columns: 33% 33% 33%;
     background-color: #fff;
     color: #444;
 }
 .box {
     background-color: #444;
     color: #fff;
     border-radius: 5px;
     padding: 20px;
 }
 .a{
    grid-column: 1;
 }
 .b{
    grid-column: 2;
 }
 .c{
    grid-column: 3;
 }
